<div class="club-new">
  <%= simple_form_for(@club, url: book_clubs_path) do |f| %>
    <div class="book-details">
      <h1><%= @book.name %>
      <p class="detail"><%= @book.author %></p>
  </div>
    <% if @club.errors.any? %>
      <div class="errors-container">
        <%= f.error_notification %>
        <% @club.errors.full_messages.each do |message| %>
          <ul>
            <li class="subscription-error">➡️ <%= message %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
    <p class="detail">Select the weekly schedule for your new bookclub:</p>
    <div class="new-subscription-inputs-container">
      <div class="book-image"><%= image_tag @book.cover_image_full_url %></div>
      <div class="form-inputs">
        <%= f.input :sunday %>
        <%= f.input :monday %>
        <%= f.input :tuesday %>
        <%= f.input :wednesday %>
        <%= f.input :thursday %>
        <%= f.input :friday %>
        <%= f.input :saturday %>
      </div>
    </div>

    <p>Once started, club members receive a chapter in their email on each day selected until the book is finished. (You can always update your schedule later.)</p>

    <p>As organizer, you will be issued an invite code and can start the club</p>

    <p>Clubs are private. You'll receive a code after the bookclub is created to invite other members.</p>
    <p>Users with free accounts may use their one book to create or join a bookclub.</p>
    <p>Please note that your name and email will be visible to all other members who join the bookclub.</p>

    <div><%= f.button :submit, "Create Bookclub", id: "new-subscription-submit" %></div>
    <% if !current_user.has_full_access %>
      <small class="full-access-notice">
        (Until you become a member, this will be your only book. Enjoy!)
      </small>
    <% end %>
  <% end %>
</div>
