<header>
  <div class="header-content">
    <%= link_to root_path, class: "bmr-icon-link" do %>
      <%= render 'shared/icon' %>
    <% end %>
    <nav>
      <% if user_signed_in? && !current_user.has_full_access %>
        <%= link_to 'Upgrade', '#', class: 'header-link upgrade', id: 'stripe-open-header' %>
      <% end %>
      <%= link_to 'Books', books_path, class: 'header-link books' %>

      <% if user_signed_in? %>
        <%= link_to 'Me', me_path, class: 'header-link me' %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: 'header-link sign-in' %>
      <% end %>
    </nav>
  </div>
</header>
