<div class="home-content">
  <%= link_to new_user_registration_path, class: 'home-title-link' do %>
    <h1 class="home-title">Start your day with a new chapter in your email.</h1>
  <% end %>
  <div id="react-app-home-email-window"></div>
  <div class="sign-up-button-container"><%= link_to 'Sign Up', new_user_registration_path, class: "sign-up-button" %></div>

  <div class="book-display-container">
    <h2 class="book-display-title">Some of the classic books we have available:</h2>
    <div class="book-display">
      <% @books.each do |book| %>
        <img class="book-thumbnail" src="<%= book.cover_image_thumb_url %>"/>
      <% end %>
    </div>
  </div>

  <div class="books-link-container">
    <%= link_to  "Browse All Books", books_path, class: "book-display-link" %>
  </div>
</div>
<script>
  window.odysseyCoverUrl = "<%= StaticImages.odyssey_cover %>"
  window.huckCoverUrl = "<%= StaticImages.huck_finn_cover %>"
  window.prideCoverUrl = "<%= StaticImages.pride_and_prejudice_cover %>"
</script>
<%= javascript_pack_tag 'email_window' %>
