<div class="home-content">
  <%= link_to new_user_registration_path, class: 'home-title-link' do %>
    <h1 class="home-title">Start your day with a new chapter in your email.</h1>
  <% end %>

  <div id="react-app-home-email-window"></div>

  <div class="sign-up-button-container">
    <%= form_with url: new_user_registration_path, method: :get, local: true, class: "get-started-form" do |f| %>
      <%= f.email_field :email, placeholder: 'Email', class: "get-started-input" %>
      <%= f.submit 'Get Started', class: "get-started-button", style: "background: url(#{@gooey_background_small_url});background-size:cover;background-repeat:no-repeat;background-position-x:55%" %>
    <% end %>
  </div>

  <div class="book-display-container" style="background: url(<%= @kale_background_url %>);background-size:190%;background-repeat:no-repeat">
    <h2 class="book-display-title">More than 100 classics available and counting</h2>
    <div class="book-display">
      <% @books.each do |book| %>
        <img class="book-thumbnail" src="<%= book.cover_image_thumb_url %>"/>
      <% end %>
    </div>
    <div class="books-link-container">
      <%= link_to  "Browse All Books", books_path, class: "book-display-link" %>
    </div>
  </div>

</div>
<script>
  window.gatsbyCoverUrl = "<%= StaticImages.gatsby_cover %>"
  window.huckCoverUrl = "<%= StaticImages.huck_finn_cover %>"
  window.prideCoverUrl = "<%= StaticImages.pride_and_prejudice_cover %>"
</script>
<%= javascript_pack_tag 'email_window' %>
