<div class="books-index">
  <h1 class="title">Browse All Books</h1>
  <div class="search-bar-container">
    <%= form_with url: books_path, method: :get, local: true, class: "book-query-form" do |f| %>
      <%= f.text_field :query, placeholder: 'Search by Title or Author', class: "book-query-input", value: @query %>
      <%= f.submit 'Search', class: "book-query-button" %>
    <% end %>
  </div>
  <div class="results-notice">Showing <%= pluralize(@books.length, 'result') %></div>
  <div class="books-container">
    <% @books.each do |book| %>
      <div class="book-card">
        <div><%= image_tag book.cover_image_thumb_url %></div>
        <h2 class="book-name"><%= book.name %></h2>
        <div class="author"><%= book.author %></div>
        <div class="card-detail">Sent in <%= book.chapters.count %> installments</div>
        <%= link_to "Start", new_book_subscription_path(book.id), class: "subscribe-button" %>
        <%= link_to "Check out on Amazon", 'http://www.amazon.com', target: "_blank", class: "amazon-link" %>
      </div>
    <% end %>
  </div>
</div>
