<div class="books-index">
  <h1 class="title">Browse All Books</h1>
  <div class="search-bar-container">
    <%= form_with url: books_path, method: :get, local: true, class: "book-query-form" do |f| %>
      <%= f.text_field :query, placeholder: 'Search by Title or Author', class: "book-query-input", value: @query %>
      <%= f.submit 'Search', class: "book-query-button" %>
    <% end %>
  </div>
  <div class="results-notice">
    <p>Showing <%= pluralize(@books.length, 'book') %></p>
    <% if !user_signed_in? %>
      <div class="account-notice">
        <%= link_to 'Please sign up for a free account to get started. ➡️', new_user_registration_path %>
      </div>
      <% @able_to_start = false %>
    <% elsif current_user.exhausted_free_account? %>
      <div class="account-notice">
        <%= link_to 'Please upgrade your membership to read another book.', '#', class: 'stripe-books-index', id: 'stripe-books-index' %>
      </div>
      <% @able_to_start = false %>
    <% elsif !current_user.has_full_access && current_user.active_subscription.present? || current_user.active_club.present? || current_user.enrolling_club.present? %>
      <div class="account-notice">
        Please become a member to continue reading when your current book has finished.
      </div>
      <% @able_to_start = false %>
    <% elsif current_user.has_full_access && current_user.active_subscription.present? || current_user.active_club.present? || current_user.enrolling_club.present? %>
      <div class="account-notice">
        You'll be able to start another book when your current book has finished.
      </div>
      <% @able_to_start = false %>
    <% else %>
      <% @able_to_start = true %>
    <% end %>
  </div>
  <div class="books-container">
    <% @books.each do |book| %>
      <div class="book-card">
        <div class="book-card-left"><%= image_tag book.cover_image_thumb_url, class: "book-image" %></div>
        <div class="book-card-right">
          <h2 class="book-name"><%= book.name %></h2>
          <div class="author"><%= book.author %></div>
          <div class="card-detail">Sent in <%= book.chapters.count %> installments</div>
          <% if @able_to_start %>
            <%= link_to "Read Now", new_book_subscription_path(book.id), class: "subscribe-button" %>
            <%= link_to "Start Bookclub", new_book_club_path(book.id), class: "subscribe-button" %>
          <% end %>
          <%= link_to "View on Amazon", book.amazon_url, target: "_blank", class: "subscribe-button amazon" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
