<div class="book-details">
  <h1>Current Bookclub</h1>
  <div><%= image_tag  @club.book.cover_image_full_url, class: 'cover-image' %></div>
  <h2><%= @club.book.name %> by <%= @club.book.author %></h2>
  <%= link_to "View bookclub ➡️", @club %>
</div>

<details class="schedule-container" open>
  <summary>
    Weekly schedule
  </summary>
  <table class="schedule">
    <tr>
      <td>Sun</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thu</td>
      <td>Fri</td>
      <td>Sat</td>
    </tr>
    <tr>
      <td><% if @club.sunday %>☀️<% end %></td>
      <td><% if @club.monday %>☀️<% end %></td>
      <td><% if @club.tuesday %>☀️<% end %></td>
      <td><% if @club.wednesday %>☀️<% end %></td>
      <td><% if @club.thursday %>☀️<% end %></td>
      <td><% if @club.friday %>☀️<% end %></td>
      <td><% if @club.saturday %>☀️<% end %></td>
    </tr>
  </table>
</details>


<details class="progress-container" open>
  <summary>Progress</summary>
  <div class="progress-box">
    <% @scheduled_chapter_emails.each do |email| %>
      <p class="chapter-box"><% if email.sent? %> ✅ <% end %><%= email.chapter.name %></p>
    <% end %>
  <div>
</details>
