<div class="book-details">
  <h1>Currently reading</h1>
  <div><%= image_tag  @subscription.book.cover_image_full_url, class: 'cover-image' %></div>
  <h2><%= @subscription.book.name %> by <%= @subscription.book.author %></h2>
  <p>Status: <%= @subscription.status.capitalize %></p>

  <div class="start-club-button">
    <% if @subscription.status == Subscription::STATUSES[:active] %>
        <%= link_to "Pause Chapter Emails",
          pause_subscription_path(@subscription),
          class: "card-action-button",
          method: :patch
        %>
    <% elsif @subscription.status == Subscription::STATUSES[:paused] %>
        <%= link_to "Resume Schedule",
          resume_subscription_path(@subscription),
          class: "card-action-button",
          method: :patch
        %>
    <% end %>

    <% if current_user.has_full_access %>
      <%= link_to "Send Next Chapter Now",
        on_demand_send_subscription_path(@subscription),
        class: "card-action-button",
        method: :patch
      %>
    <% end %>
  </div>
</div>

<details class="schedule-container" open>
  <summary>
    Weekly schedule (<%= link_to "Edit", edit_book_subscription_path(@subscription.book, @subscription) %>)
  </summary>
  <table class="schedule">
    <tr>
      <td>Sun</td>
      <td>Mon</td>
      <td>Tue</td>
      <td>Wed</td>
      <td>Thu</td>
      <td>Fri</td>
      <td>Sat</td>
    </tr>
    <tr>
      <td><% if @subscription.sunday %>☀️<% end %></td>
      <td><% if @subscription.monday %>☀️<% end %></td>
      <td><% if @subscription.tuesday %>☀️<% end %></td>
      <td><% if @subscription.wednesday %>☀️<% end %></td>
      <td><% if @subscription.thursday %>☀️<% end %></td>
      <td><% if @subscription.friday %>☀️<% end %></td>
      <td><% if @subscription.saturday %>☀️<% end %></td>
    </tr>
  </table>
</details>


<details class="progress-container" open>
  <summary>Progress</summary>
  <div class="progress-box">
    <% @scheduled_chapter_emails.each do |email| %>
      <p class="chapter-box"><% if email.sent? %> ✅ <% end %><%= email.chapter.name %></p>
    <% end %>
  <div>
</details>
