<div class="current-user-show">
  <div class="profile-pane">
    <h1>Me</h1>
    <p class="profile-wrap"><%= @user.email %></p>
    <p class="profile-wrap"><%= @user.name %></p>
    <p>Account Type: <%= @user.membership_type %></p>

    <div>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
    <% if !@user.has_full_access %>
      <button id="stripe-open">Become a Member</button>
    <% else %>
      <%= link_to "Manage account", manage_path %>
    <% end %>
  </div>
  <div class="subscription-pane">
    <% if @subscription.present? %>
      <%= render 'subscription_details' %>
    <% else %>
      <%= render 'empty_subscription' %>
    <% end %>
    <%= render 'history' %>
  </div>
</div>
