<!DOCTYPE html>
<html>
  <head>
    <title>Better Morning Reading</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('icon.svg') %>
  </head>

  <% if action_name == 'show' && controller_name == 'home' %>
    <body style="background: url(<%= @sun_background_url %>);background-repeat:no-repeat;background-size:cover;background-position-y: bottom;">
  <% else %>
    <body>
  <% end %>
    <%= render 'shared/header' %>
    <p class="notice" style="background: url(<%= @cool_background_url %>);background-repeat:no-repeat;background-size:cover;background-position-y: bottom;"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main><%= yield %></main>
    <%= render 'shared/footer' %>

    <% if user_signed_in? && !current_user.has_full_access %>
      <%= render 'shared/stripe' %>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        var stripe = Stripe('<%= STRIPE_PUBLISHABLE_KEY %>');
        var elements = stripe.elements();
        window.elements = elements
      </script>
    <% end %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
